.portalContrainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portalInnerContrainer {
    width: 90%;
}

.systemTitle {
    font-family: "Open Sans Light", "Segoe UI Semi-Light", "Helvetica Light", sans-serif;
    color: #363636;
}